.container {

	// scroll-snap-type: y;
	// overflow-y: scroll;
	article,
	section {
		height: 100vh;
		@include flex-center();
		flex-direction: column;
		// scroll-snap-align: center;
	}
    article{
        height: 92vh;
    }
}

.bg-img {
	position: absolute;
	z-index: -10;
	width: 100%;
	img {
		height: 100vh;
		width: 100%;
		object-fit: cover;
		opacity: 0.3;
	}
}
