footer{
    background-color: $light-blue;
    min-height: 13.5rem;
    width: 100%;
    padding: 2rem;
    @include flex-center;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 2;
    color: $bage-color;
    font-size: clamp(12px, 3vw, 1.1rem);
    .contact{
        div{
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-self: center;
            align-items: center;
        }
    }
}