//color variables
$dark-blue: #001929;
$light-blue: #009cf8;
$bage-color: #fff7d6;
$white-color: #f1faff;
$golden-color: #f8ca25;
$roasted-color: #f07b0e;
$navbar-color: #009efa4d;
.golden-color {
    color: $golden-color;
}
.roasted-color {
    color: $roasted-color;
}

// reseting stuff
html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "Source Sans Pro", sans-serif;
    background-color: $dark-blue;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

//resetting a
a {
    display: block;
    text-decoration: none;
    color: $white-color;
}

input,
select,
button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
}


