// responsive header coming soon

header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 10;
    width: 80%;
    margin: 0;
    padding: 1rem;
    .header-container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        max-width: 80%;
        img {
            height: clamp(3rem, 3vw, 4rem);
        }
        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
            font-size: clamp(1rem, 3vw, 2rem);

            li {
                margin: 1rem;
                a {
                    color: $bage-color;
                }
            }
        }
    }
}
