.payment-method {
	.method-container {
		margin: 2.5rem auto;
		min-width: clamp(25rem, 30vw, 40rem);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		a {
			img {
				height: 6rem;
				cursor: pointer;
                stroke: $white-color;
				&:hover {
                    transition: 0.42s ease-out;
					border: $golden-color 4px solid;
					border-radius: 50%;
				}
			}
			&:hover {
				transition: 0.4s ease-out;
				transform: scale(1.2);
			}
		}
	}
}

.cryptocurrency-trade {
	width: 70%;
	margin: auto;
	.crypto-trade-container {
		@include flex-center;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
		img {
			height: 20rem;
			margin: 2rem;
		}
		.crypto-trade-text-content {
			h3 {
				max-width: 37rem;
				margin: 2rem 0;
			}
			.crypto-trade-btns {
				margin: 1rem;
				@include flex-center;
				a {
					margin: 1rem;
				}
			}
		}
	}
}
