::-webkit-scrollbar {
	width: 13px;
	height: 13px;
    opacity: 0.5;
}
::-webkit-scrollbar-thumb {
    background: $light-blue;
    transition: 0.5ms linear;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    //will add transition later
	background: $golden-color;
    opacity: 0.1;
}
::-webkit-scrollbar-track {
	background: $dark-blue;
}

// @media (max-width: 450px) {
//     body{
//         overflow: hidden;
//     }
// }