.golden-color {
  color: #f8ca25;
}

.roasted-color {
  color: #f07b0e;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #001929;
  width: 100%;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #f1faff;
}

input,
select,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.bg-img-section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100;
  z-index: -20;
}

.bg-img-section img {
  height: 100%;
  width: 100%;
  opacity: 0.35;
  -o-object-fit: cover;
     object-fit: cover;
}

.credit-container {
  max-width: 100%;
  position: absolute;
  top: 95%;
  left: 90%;
}

.credit-container a {
  display: inline;
  color: #009cf8;
  text-decoration: underline;
}

.button_default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  background-color: #009cf8;
  height: 3.75rem;
  width: 12rem;
  border-radius: 0.75rem;
  opacity: 0.9;
}

.button_default:hover {
  opacity: 1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.button_light {
  background: none;
  border-bottom: 2px solid #f8ca25;
  border-radius: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.button_light:hover {
  border-color: #009cf8;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.side-text {
  margin: 2.5rem 0 0 0;
  width: 50%;
  width: clamp(22rem, 50vw, 50rem);
  font-size: 1.5rem;
  font-weight: 400;
  color: #f1faff;
}

.section_header_1 {
  color: #f1faff;
  margin: 2.5rem 0 0 0;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.magnify {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(2, 1);
          transform: scale(2, 1);
}

.active {
  border-bottom: 2px solid #fff7d6;
}

#display-none {
  display: none;
}

#display-block {
  display: block;
}

.container article,
.container section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container article {
  height: 92vh;
}

.bg-img {
  position: absolute;
  z-index: -10;
  width: 100%;
}

.bg-img img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}

header {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
  width: 80%;
  margin: 0;
  padding: 1rem;
}

header .header-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
}

header .header-container img {
  height: 70px;
  width: 70px;
}

header .header-container ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
}

header .header-container ul li {
  margin: 1rem;
}

header .header-container ul li a {
  color: #fff7d6;
}

@media (max-width: 1600px) {
  header img {
    height: 64px;
    width: 64px;
  }
  header ul {
    font-size: 1.6rem;
  }
}

@media (max-width: 1280px) {
  header ul {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  header img {
    height: 48px;
    width: 48px;
  }
  header ul {
    font-size: 1.2rem;
  }
}

footer {
  background-color: #009cf8;
  min-height: 13.5rem;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2;
  color: #fff7d6;
  font-size: clamp(12px, 3vw, 1.1rem);
}

footer .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  color: #f1faff;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

article h1 {
  margin: 2.5rem 0 0 0;
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: bold;
}

article .cta-container {
  margin: 2.5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
}

article p {
  margin: 2.5rem 0 0 0;
  font-size: 1.5rem;
}

.featured-item {
  width: 80%;
  margin: auto;
}

.payment-method .method-container {
  margin: 2.5rem auto;
  min-width: clamp(25rem, 30vw, 40rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.payment-method .method-container a img {
  height: 6rem;
  cursor: pointer;
  stroke: #f1faff;
}

.payment-method .method-container a img:hover {
  -webkit-transition: 0.42s ease-out;
  transition: 0.42s ease-out;
  border: #f8ca25 4px solid;
  border-radius: 50%;
}

.payment-method .method-container a:hover {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-container {
  margin: 3rem auto;
  width: 80%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 400px);
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
}

.card-container .card {
  width: 12rem;
  margin: 1.5rem 1rem;
}

.card-container .card .card-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 16rem;
  width: 12rem;
  border: 2px solid #fff7d6;
  border-radius: 0.625rem;
  padding: 1rem;
  cursor: pointer;
}

.card-container .card .card-square img {
  height: 6rem;
}

.card-container .card .card-square h2 {
  color: #fff7d6;
}

.card-container .card .card-square:hover {
  -webkit-transition: 0.45s linear;
  transition: 0.45s linear;
  -webkit-transition: border 0.25s ease-out;
  transition: border 0.25s ease-out;
  background-color: #001929;
  border-color: #001929;
}

.card-container .card .card-price-bracket-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container .card .card-price-bracket-1 a,
.card-container .card .card-price-bracket-1 .price-btn-1 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 3.5rem;
  border: 2px solid #fff7d6;
  border-radius: 0.625rem;
  margin: 0.8rem 0 0 0;
}

.card-container .card .card-price-bracket-1 a:hover,
.card-container .card .card-price-bracket-1 .price-btn-1:hover {
  -webkit-transition: 0.45s linear;
  transition: 0.45s linear;
  -webkit-transition: border 0.25s ease-out;
  transition: border 0.25s ease-out;
  background-color: #001929;
  border-color: #001929;
}

.card-container .card .card-price-bracket-1 .price-btn-2 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 100%;
  border: 2px solid #fff7d6;
  border-radius: 0.625rem;
  margin: 0.8rem 0 0 0;
}

.bg-img-shop {
  z-index: -20;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.bg-img-shop img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.non-functional-alert-container {
  border: 3px solid #FF4242;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 2.5rem 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 70%;
  height: 12rem;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
  color: white;
  background-color: #FF4242;
}
/*# sourceMappingURL=main.css.map */